      
        .section-title {
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            color: #1e3c72;
            margin-top: 50px;
        }

        .card {
            border-radius: 12px;
            transition: 0.3s;
        }

        .card:hover {
            transform: scale(1.05);
        }
        .viewall {
            text-decoration: none;
            font-size: large;
            height: fit-content;
        }

        .viewall:hover {
            text-decoration: underline;
            transform: translateY(-2px);
        }

      