  /* Navbar */
        .logo {
            font-weight: 1000;
            font-size: large;
            color: #2b6cb0;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .nav-bar {
            width: 100%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 40px;
            position: fixed;
            top: 0;
            z-index: 100;
        }

        .nav a {
            margin-left: 30px;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            color: #000;
        }

        .nav a:hover {
            color: #28b9b9;
        }
        .login {
            background: #1e3c72;
            color: white;
            padding: 8px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
        .dropdown {
            position: relative;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            background: white;
            padding: 10px 0;
            min-width: 180px;
            display: none;
            
            border-radius: 6px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .dropdown-menu a {
            padding: 8px 15px;
            text-decoration: none;
            display: block;
            color: #333;
            font-size: 15px;
        }

        .dropdown-menu a:hover {
            background: #f2f2f2;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

          *{
            font-family: "Poppins", sans-serif;
        }

        body {
            background-color: #f5f7fa;
        }

      
        .hero {
            background: #223f75;
            color: white;
            text-align: center;
            padding-top: 150px;
            padding-bottom: 80px;
        }

          footer {
            background: #223f75;
            padding: 40px;
            text-align: center;
            color: white;
            margin-top: 60px;
        }
